build
certifi
charset-normalizer
click
colorama
contourpy
cycler
fonttools
idna
kiwisolver
matplotlib
numpy
packaging
Pillow
pip-tools
pyparsing
pyproject_hooks
python-dateutil
requests
setuptools
six
urllib3
wheel
